{% extends "layout.html" %}

{% block title %}כל הפרקים | ארכיון הקרנף{% endblock %}

{% block content %}
<main>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P3SL54M2YS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P3SL54M2YS');
    </script>   
    <a href="{{ url_for('home') }}" class="back-link">חזרה</a> <!-- Back button -->

    <!-- Flex container for title and sort button -->
    <div class="title-sort-container">
        <h1 style="margin-bottom: 1rem; ">כל הפרקים</h1>
        <div class="sort-options">
            <button onclick="toggleOrder()">
                {% if reverse_order %}
                    הצג מהחדש לישן
                {% else %}
                    הצג מהישן לחדש
                {% endif %}
            </button>
        </div>
    </div>

    <div class="article-grid">
        {% for article in articles %}
        <a href="{{ url_for('article_detail', article_id=get_article_id(article.title)) }}" class="article-card">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Episode Image">
            <div class="article-content">
                <h2 class="article-title">{{ article.title }}</h2>
                <p class="all-articles-date">{{ article.date }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</main>

<script>
    function toggleOrder() {
        const currentUrl = new URL(window.location.href);
        const reverse = currentUrl.searchParams.get('reverse') === 'true';
        currentUrl.searchParams.set('reverse', !reverse);  // Toggle the reverse parameter
        window.location.href = currentUrl.toString();  // Reload the page with the updated parameter
    }
</script>
{% endblock %}