{% extends "layout.html" %}
{% block title %}תנאי שימוש | ארכיון הקרנף{% endblock %}
{% block content %}

<body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P3SL54M2YS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P3SL54M2YS');
    </script>
    <!-- Google Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5958976505082123"
    crossorigin="anonymous"></script>
    
    <style>
        body h2, body h3, body p {
            margin-bottom: 10px; /* Add space between elements */
        }
    </style>
    <h2>ברוכים הבאים לאתר "ארכיון הקרנף"</h2>
    <p>האתר הוקם על מנת לענות אחת ולתמיד על השאלה "באיזה פרק הקרנף דיבר על X?"</p>
    <p>באתר תוכלו לחפש מילים משפטים ושמות בין כל הפרקים, לראות סטטיסטיקות מעניינות ולקרוא את התמלול של הפרקים כטקסט</p>
    <p>*התמלול של הפרקים נעשה על ידי AI בצורה אוטומטית ועלול להכיל שגיאות כתיב וטעויות בתמלול כך שאין לשייך שום דבר שכתוב בטקסט כמשהו שהקרנף אמר</p>
    <h3>זכויות יוצרים</h3>
    <p>האתר נבנה על ידי צד שלישי, לבונה האתר אין זכויות על כל תוכן הנמצא באתר</p>
    <p>כל הזכויות על התוכן באתר שמורות ליואב רבינוביץ' (הקרנף) ולבית הפודיום. </p>
    
    <h3>צרו קשר</h3>
    <p>אם יש לכם שאלות בנוגע לתנאים אלו, אנא צרו קשר בכתובת <a href="amir.gabbay@gmail.com">amir.gabbay@gmail.com</a>.</p>
</body>
{% endblock %}